<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1 style="color:blue;">Hello, this is Pioutside!</h1>

      <p style="font-size:160%; margin-left: 50px">
         The current temperature is {{ temp }} deg C.
      </p>
      <p style="font-size:160%; margin-left: 50px">
         The current pressure is {{ pressure }} hPa.
      </p>
      <p style="font-size:160%; margin-left: 50px">
         The current relative humidity is {{ humidity }}%.
      </p>
      <br><hr>
      The current date and time is: {{ time }}.
   </body>
</html>
